# Serverless directories
.serverless

scrap

# build output
dist
.next

# dependencies
node_modules
package-lock.json
yarn.lock
!/yarn.lock
test/node_modules

# logs & pids
*.log
pids

# test output
test/**/out*
test/**/next-env.d.ts
.DS_Store

# Editors
**/.vscode

# Local Netlify folder
.netlify